node_modules/
cypress/videos/
cypress/screenshots/
cypress/downloads/
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Variaveis de Ambiente e Segredos
.env